[Unit]
Description=Fedora boot script(s) invoked by cloud-init (web.yaml)
After=network.target
OnFailure=aws_deployment_failure.service

[Service]
Type=oneshot
KillMode=process
User=apache
ExecStart=/home/apache/setup_apache_sites.sh


[Install]
WantedBy=multi-user.target